/* Light Mode */
:root {
  --ifm-color-primary: #6B46C1;          /* Muted Purple */
  --ifm-color-primary-dark: #553C9A;
  --ifm-color-primary-darker: #44337A;
  --ifm-color-primary-darkest: #322659;
  --ifm-color-primary-light: #805AD5;
  --ifm-color-primary-lighter: #9F7AEA;
  --ifm-color-primary-lightest: #B794F4;

  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.08);
}

/* Dark Mode */
[data-theme='dark'] {
  --ifm-color-primary: #9F7AEA;
  --ifm-color-primary-dark: #805AD5;
  --ifm-color-primary-darker: #6B46C1;
  --ifm-color-primary-darkest: #553C9A;
  --ifm-color-primary-light: #B794F4;
  --ifm-color-primary-lighter: #D6BCFA;
  --ifm-color-primary-lightest: #E9D8FD;

  --docusaurus-highlighted-code-line-bg: rgba(255, 255, 255, 0.08);
}
